permission java.util.logging.LoggingPermission "control";
permission java.util.PropertyPermission "*", "read,write";
permission java.lang.RuntimePermission "getProtectionDomain";
permission java.lang.RuntimePermission "getenv.CN1_RETINA_SCALE";